Host 159.149.32.14
  HostName 159.149.32.14

  Host github.com
    Hostname github.com
    Port 22
    IdentityFile ~/.ssh/id_ed25519


Host *
  ForwardAgent yes

Host xlence2
  HostName 159.149.32.14
Host xlence
  HostName xlence.disfeb.unimi.it
  User uliano

Host indaco1
  HostName login1ng.indaco.unimi.it
  ProxyJump indaco
  User uliano.guerrini
Host indaco
  HostName loginng.indaco.unimi.it
  User uliano.guerrini
Host huey
  HostName 159.149.32.124
  User uliano
Host licsrv 
  Hostname 159.149.32.128
Host licensebox 
  Hostname 159.149.32.129
Host elenuar
  Hostname 159.149.32.81


Host mele
  HostName 192.168.1.21
  User uliano
Host riscv
  HostName 192.168.1.22
  User uliano
Host orange3b
  HostName 192.168.1.23
  User uliano

Host trixie
  HostName 192.168.56.100
  User uliano
